.hero {
  color: white;
  background: url("../../assets/images/Into_the_water.jpg");
  background-size: cover;
  background-position: center;
  padding: 3rem;
  text-align: center;
  height: 25rem;
  &__title {
    padding: 12rem 0 0 0;
    font-size: 4.5rem;
    font-family: "Shrikhand", serif;
    font-weight: 100;
  }
  &__subtext {
    padding: 1rem 0;
  }
}
